@{
    ViewData["Title"] = "VerDetalleCandidato";
}
<img id="foto"src= "/Img/Candidatos/@ViewBag.candidate.Foto" alt="foto partido">
<h1> @ViewBag.candidate.Nombre </h1>
<h3> Apellido: @ViewBag.candidate.Apellido</h3>
<h3>Fecha Nacimiento: @ViewBag.candidate.FechaNacimiento</h3>
<h3>Postulación: @ViewBag.candidate.Postulacion</h3>

<a href='@Url.Action("VerDetallePartido", new{idPartido=@ViewBag.candidate.FK_Partido}) ' class="btn btn-primary">Volver</a>
<a href='@Url.Action("EliminarCandidato", new{idPartido=@ViewBag.candidate.FK_Partido, idCandidato=@ViewBag.candidate.Id_Candidato}) ' class="btn btn-primary">Eliminar</a>